<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Flex</title>
    <script src="static/jquery-2.2.1.min.js"></script>
    <script src="static/jquery.cookies.js"></script>
    <link rel="stylesheet" type="text/css" href="static/materialize.min.css">
    <script src="static/materialize.min.js"></script>
    <script src="/static/ClientHelper.js"></script>
    <script src="static/index.js"></script>
    <link rel="stylesheet" type="text/css" href="static/index.css">
</head>
<body class="pink lighten-4">
    <div class="container">
        <div class="row">
            <div class="col s1 menu_div">
                <div>Account</div>
                <div>My Teams</div>
                <div>Browse Teams</div>
            </div>
            <div class="col s4 todo_div">To Do</div>
            <div class="col s4 in_progress_div">In Process</div>
            <div class="col s3 done_div">Done</div>
        </div>
    </div>
    <!-- Modal Structure -->
    <div id="modal_log_in" class="modal bottom-sheet">
        <div class="modal-content">
            <h4>Log In.</h4>
            <div class="row">
                <div class="col s4 input-field">
                    <input placeholder="Username" id="login_username" type="text" class="validate">
                    <label for="login_username">Username</label>
                </div>
                <div class="col s4 input-field">
                    <input placeholder="Password" id="login_password" type="text" class="validate">
                    <label for="login_password">Password</label>
                </div>
                <div class="col s4">
                    <a class="waves-effect waves-light btn-large" id="button_log_in" href="#">Log In</a>
                </div>
            </div>
        </div>
        <div class="modal-footer">
            <a href="#!" class=" modal-action modal-close waves-effect waves-green btn-flat">Agree</a>
        </div>
    </div>
</body>
</html>